{namespace l = Lelesys\Captcha\ViewHelpers}
<div {attributes -> f:format.raw()} >
	<f:flashMessages as="flashMessages">
		<f:for each="{flashMessages}" as="flashMessage">
			<div class="alert {f:if(condition: "{0: flashMessage.severity}  ==  {0: 'OK'}" , then: 'alert-success', else: 'alert-danger')}">
				{flashMessage}
			</div>
		</f:for>
	</f:flashMessages>
	<f:form action="create" controller="Comment" package="Lelesys.Comments" object="{newComment}" name="newComment">
		<f:form.hidden name="node" value="{node.path}" />
		<div class="form-group">
			<label for="author" class="control-label">
				<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Name">Name</f:translate> <span class="required">*</span>
			</label>
			<f:form.textfield id="author" property="name" class="form-control" />
		</div>
		<f:render partial="FormError" arguments="{for: 'newComment.name'}" />
		<div class="form-group">
			<label for="emailaddress" class="control-label">
				<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Email">Email</f:translate> <span class="required">*</span>
			</label>
			<f:form.textfield id="emailaddress" property="emailAddress" class="form-control" />
		</div>
		<f:render partial="FormError" arguments="{for: 'newComment.emailAddress'}" />
		<div class="form-group">
			<label for="homepage" class="control-label">
				<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Homepage">Homepage</f:translate>
			</label>
			<f:form.textfield id="homepage" property="homePage" class="form-control" />
		</div>
		<f:render partial="FormError" arguments="{for: 'newComment.homePage'}" />
		<div class="form-group">
			<label for="location" class="control-label">
				<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Location">Location</f:translate>
			</label>
			<f:form.textfield id="location" property="location" class="form-control" />
		</div>
		<div class="form-group">
			<label for="comment" class="control-label">
				<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Comment">Comment</f:translate> <span class="required">*</span>
			</label>
			<f:form.textarea id="comment" property="text" rows="10" cols="50" class="form-control" />
		</div>
		<f:render partial="FormError" arguments="{for: 'newComment.text'}" />
		<f:if condition="{settings.newComment.captcha}" >
			<div class="form-group">
				<label for="captcha" class="control-label">
					<f:translate package="{settings.translation.packageKey}" id="Lelesys.Comments.Word.Verification">Word Verification</f:translate> <span class="required">*</span>
				</label>
				<l:captcha />
				<f:form.textfield id="captcha" name="captcha" class="form-control" />
			</div>
			<f:render partial="FormError" arguments="{for: 'captcha'}" />
		</f:if>
		<div>
			<f:form.submit value="{f:translate(value: 'Submit', package: '{settings.translation.packageKey}', id: 'Lelesys.Comments.Submit')}" class="btn btn-primary"  />
		</div>
	</f:form>
</div>